.navbar-expand-lg .navbar-nav {
    color: white;
}

.jumbotron {
    color: #2c3e50;
}

.img1 {
    width: 100%;
    overflow: hidden;
}

img {
    -webkit-transition: all 0.5s ease;
}

img:hover {
    transform: scale(1.2);
}